.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
  padding-left: 50px;
  list-style: none;

  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 50px;
    font-size: 24px;
    &:hover {
      background: beige;
    }
    &_link {
      width: 100%;
      text-decoration: none;
      color: black;
    }
  }
}

.accountBalance {
  padding-top: 10px;
  font-weight: bold;
}